ul[class^=smi-]:before,
ul[class^=smi-]:after {
    content: " ";
    display: table;
}
ul[class^=smi-]:after {
    clear: both;
}
ul[class^=smi-] {
    *zoom:1;
    list-style: none;
    overflow: auto;
}
ul[class^=smi-] li {
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
}
ul[class^=smi-] li:last-child {
    margin-right: 0 !important;
}
ul[class^=smi-16] li {
    border-radius: 2px;
}
ul[class^=smi-24] li {
    border-radius: 3px;
}
ul[class^=smi-32] li {
    border-radius: 4px;
}
ul[class^=smi-64] li {
    border-radius: 5px;
}
ul[class^=smi-] li a {
    background-color: transparent;
    display: inline-block;
}
ul[class^=smi-] li a[onclick]:not([href]) {
    cursor: pointer;
}
ul[class^=smi-] li:hover {
    border-color: gray !important;
}
ul[class^=smi-] li a:hover {
    background-color: gray;
}
ul[class^=smi-] li,
ul[class^=smi-] li a,
ul[class^=smi-] li a svg {
    float: left;
}
ul.smi-16 li a svg {
    height: calc(1rem - 4px);
    padding: 2px;
    width: calc(1rem - 4px);
}
ul.smi-24 li a svg {
    height: calc(1.5rem - 6px);
    padding: 3px;
    width: calc(1.5rem - 6px);
}
ul.smi-32 li a svg {
    height: calc(2rem - 8px);
    padding: 4px;
    width: calc(2rem - 8px);
}
ul.smi-64 li a svg {
    height: calc(4rem - 16px);
    padding: 8px;
    width: calc(4rem - 16px);
}
