@import url('//fonts.googleapis.com/css?family=Lato:400,700');
/* http://nicolasgallagher.com/micro-clearfix-hack */
.cf:before,.cf:after{content:" ";display:table;}.cf:after{clear:both;}.cf{*zoom:1;}
body {
    color: #169;
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin: 1em auto;
    width: 100%;
}
.container {
    padding: 0 1rem;
}
h1 {
    font-size: 3.5rem;
}
h1, h2, p {
    text-align: center;
}
a {
    color: #666;
    text-decoration: none;
}
a:focus,
a:hover {
    color: inherit;
}
.download {
    margin: 3rem 0;
}
.download a {
    background: #169;
    border-radius: 5px;
    color: white;
    padding: 1rem;
}
ul[class^=smi-] {
    list-style: none;
    overflow: auto;
    padding: 1em;
}
ul[class^=smi-] li {
    border-style: solid;
    border-width: 1px;
    float: left;
}
ul[class^=smi-16] li {
    border-radius: 3px;
}
ul[class^=smi-32] li {
    border-radius: 4px;
}
ul[class^=smi-64] li {
    border-radius: 5px;
}
ul[class^=smi-] li a {
    display: inline-block;
    filter: none;
    -webkit-filter: grayscale(0);
    float: left;
}
ul[class^=smi-] li a:hover {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
ul[class^=smi-] svg {
    float: left;
}
.smi-16 svg {
    height: 1rem;
    padding: 2px;
    width: 1rem;
}
.smi-32 svg {
    height: 2rem;
    padding: 4px;
    width: 2rem;
}
.smi-64 svg {
    height: 4rem;
    padding: 8px;
    width: 4rem;
}
