.page-header {
  color: #fff;
  text-align: center;
  background-color: #5FA0C0 !important;
  background-image: linear-gradient(120deg, #0E4378, #157199) !important;
}
@media screen and (min-width: 64em) {
  .main-content {
    font-size: inherit;
  }
}
.main-content h1 {
  text-align: center;
}
ul[class^=smi-] {
    list-style: none;
    overflow: auto;
    padding: 1em;
}
ul[class^=smi-] li {
    border-style: solid;
    border-width: 1px;
    float: left;
}
ul[class^=smi-16] li {
    border-radius: 3px;
}
ul[class^=smi-32] li {
    border-radius: 4px;
}
ul[class^=smi-64] li {
    border-radius: 5px;
}
ul[class^=smi-] li a {
    display: inline-block;
    filter: none;
    -webkit-filter: grayscale(0);
    float: left;
}
ul[class^=smi-] li a:hover {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
ul[class^=smi-] svg {
    float: left;
}
.smi-16 svg {
    height: 1rem;
    padding: 2px;
    width: 1rem;
}
.smi-32 svg {
    height: 2rem;
    padding: 4px;
    width: 2rem;
}
.smi-64 svg {
    height: 4rem;
    padding: 8px;
    width: 4rem;
}
